* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 12px;
    background: linear-gradient(#e4e4e4, #edb9b9, #e4e4e4);
}

@media (min-width: 400px){
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px){
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulos{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo forwards;

}

@keyframes animacaoTitulo{
    0%{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    }

    100% {
    transform: scale(1) translateY(0);
    opacity: 1;
    }
}

.menu{
    background-color: white; 
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu li{
    list-style: none;
    font-family: roboto;

}

.menu ul{
    display: flex;
    justify-content: space-around;
}

a {
    color: teal; 
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.site-subtitle,
.site-title{
    color: gray;
    text-align: center;
    font-family: roboto;
}

.site-title{
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle{
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.8em;
}

.img-portfolio {
    width: 230px;
    height: 240px;
    object-fit: contain;
    object-position: left bottom;
}

.menu a{
    padding: 10px 20px;
    display: block;
}

.menu a:hover{
    background-color: pink;
    color: gray ;
    transition: background-color, color 0.5s;
}

.portfolio h2 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #808080;
    margin-bottom: 2em;
    font-size: 3em;
    text-align: center;
}

.sobre,
.portfolio {
    padding: 2em;
}

.portfolio .grid{
    display: grid;
    gap: 2em;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

@media (max-width: 560px) {
    .portfolio .grid {
    grid-template-columns: 350px;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em -48px);
}
}

.portfolio figure{
    text-align: center;
}

@media (min-width: 1200px;){
    .img-portfolio{
        height:10em; 
        width:auto;
    }
}

.contato{
    padding: 200px;
}

.sobre,
.contato h2{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #808080;
    font-size: 3em;
}

.sobre p{
    text-align: justify;
    font-family: roboto;
    color: black;
    font-size: 19px;
}

.sobre img{
    width: 280px;
    height: 360px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.contato form{
    padding: 50px;
    align-items:center;
    font-family: roboto;
}

.enviar{
    color: whitesmoke;
    background-color: #DF013A;
    width: 200px;   
    padding: 10px 0;
    font-family: roboto;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.enviar:hover{
    background: #FA5882;
}

.img-icons {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: left bottom;
    display: flex;
}

.icons .grid-icons{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
}

.img-icons:hover{
    transform: scale(1.5);
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.flip-card:hover .card{
    transform: rotateY(180deg);

}

.card-front, .card-back{
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.card-back{
    width: 100%;
    height: 240px;
    transform: rotateY(180deg);
}

.flip-card{
    perspective: 300px;
}


.img-flip{
    width: 230px;
    height: 240px;
    object-fit: contain;
    object-position: left bottom;
}

